.search {
    background: url('images/pattern-bg.png');
    background-position: center;
    background-size: cover;
}

.btnSearch{
    height: 1.75rem;
    background: url('images/icon-arrow.svg');
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.result{
    bottom: -5rem;
    left: 0%;
    margin-left: 1%;
    margin-right: 1%;
}

#map, #mapid{height: 500px;}

/*---FOOTER---*/
.attribution{
    font-size: 11px;
    text-align: center;
}
.attribution a{
    color: hsl(228, 45%, 44%);
}

@media (min-width: 768px){
    .result{ 
        bottom: -3rem;
        left: 20%;
    }
}